.cardsalon-component{
width: 265px;
display: flex;
flex-direction: column;
height: 362px;
left: calc(50% - 265px/2 - 427.5px);
top: 10%;

background: linear-gradient(180deg, #CA84AC 0%, #FAAB35 0.01%);
box-shadow: -3px 8px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
}

.icon{
    position: relative;
width: 92px;
height: 92px;
left: 30%;
top: 10%;

}

.cardsalon-title{
    position: relative;
/* left: calc(50% - 221px/2 - 427.5px); */
top: 10%;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 100%;
/* identical to box height, or 32px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.cardsalon-desc{
    position: relative;
width: 221px;
height: 126px;
left: 10%;
top: 15%;

font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 21px;
text-align: center;

color: #FFFFFF;
}