/* AdoptionHeader */

.adoption-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    overflow: hidden;
  }
  
  .header-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .header-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
  }
  
  .header-title {
    font-size: 36px;
    font-weight: bold;
  }
  
  .header-subtitle {
    font-size: 18px;
    margin-top: 10px;
  }
  
  /* AdoptionText */
  
  .adoption-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
  
  .adoption-images {
    display: flex;
    align-items: center;
  }
  
  .adoption-image {
    width: 300px;
    height: 534px; /* 9:16 aspect ratio */
    object-fit: cover;
    margin-right: 20px;
    transition: transform 0.3s ease;
  }
  
  .adoption-image:hover {
    transform: scale(1.05);
  }
  
  .adoption-content {
    flex-grow: 1;
  }
  
  .adoption-text-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .adoption-text-description {
    margin-top: 20px;
    font-size: 16px;
  }
  
  /* Add any additional styling as needed */
  
  
  /* Add any additional styling as needed */
  
  
  .adoption-ready {
    padding: 80px 0;
    background-color: #f8f8f8;
  }
  
  .section-title {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
    font-size: 32px;
  }
  
  .cat-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 40px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .cat-card:hover {
    transform: translateY(-5px);
  }
  
  .cat-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .cat-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
  }
  
  .cat-name {
    margin-bottom: 5px;
    font-size: 20px;
  }
  
  .cat-description {
    font-size: 14px;
    line-height: 1.4;
  }
  
  .animate__animated {
    animation-duration: 0.8s;
  }
  
  .animate__fadeIn {
    animation-name: fadeIn;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  