.header-container {
  position: relative;
}

.header-image {
  position: relative;
  overflow: hidden;
}

.image-opacity {
  width: 100%;
  height: auto;
  opacity: 0.6;
  transition: opacity 0.2s ease;
}

.overlay-cat-hotel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(252, 193, 197, 0.2)
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ffffff;
}

.cat-hotel-title {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

.kitty-corner {
  font-size: 30px; 
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

@media (max-width: 768px) {
  .header-image {
    height: 300px;
  }
  
  .cat-hotel-title {
    font-size: 36px;
  }
  
  .kitty-corner {
    font-size: 24px;
  }
}


@keyframes lineAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.kitty-corner::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  animation: lineAnimation 1s ease-in-out forwards; /* Tambahkan animasi garis muncul */
}


/* Text */

.hotel-text-container {
  background-color: wheat;
  padding: 40px 0;
}

.hotel-image-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.hotel-image-column {
  flex: 1;
  max-width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotel-image-column img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
}


.hotel-image-caption {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 0;
  text-align: center; 
}

.hotel-image-description {
  font-size: 16px;
  line-height: 1.5;
  text-align: center; 
}

/* booking form */

.hotel-booking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(36, 158, 160);
}

.hotel-booking-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.hotel-booking-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.hotel-booking-form label {
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.hotel-booking-form input[type='date'],
.hotel-booking-form input[type='text'],
.hotel-booking-form input[type='email'],
.hotel-booking-form input[type='tel'],
.hotel-booking-form input[type='number'],
.hotel-booking-form select {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.hotel-booking-form input[type='number']::-webkit-inner-spin-button,
.hotel-booking-form input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hotel-booking-form input[type='number'] {
  -moz-appearance: textfield;
}

.hotel-booking-form input[type='number']::-webkit-input-placeholder {
  text-align: center;
}

.hotel-booking-form input[type='number']::-moz-placeholder {
  text-align: center;
}

.hotel-booking-form input[type='number']:-ms-input-placeholder {
  text-align: center;
}

.hotel-booking-form input[type='number']::placeholder {
  text-align: center;
}

.hotel-booking-form button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #e39d33;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hotel-booking-form button:hover {
  background-color: #d27728;
}

.availability-table {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.availability-table h2 {
  margin-bottom: 10px;
}

.availability-table table {
  width: 100%;
  border-collapse: collapse;
}

.availability-table th,
.availability-table td {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.availability-table th {
  font-weight: bold;
}

.booking-form {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.booking-form h2 {
  margin-bottom: 10px;
  text-align: center;
}

.notification {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  padding: 20px;
  background-color: #e9f7ef;
  color: #13823c;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
}


/* Price List */

.hotel-price-list {
  padding: 50px 0;
  background-color: rgba(132, 147, 202, 0.35);
}

.room-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.room-card:hover {
  transform: translateY(-5px);
}

.room-image {
  position: relative;
  width: 100%;
  padding-top: 60%;
  overflow: hidden;
}

.room-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.room-price {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #4caf50;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.room-card:hover .room-price {
  background-color: #2e7d32;
}

.room-info {
  flex: 1;
  text-align: center;
}

.room-type {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.room-card:hover .room-type {
  color: #2e7d32;
}

.room-features {
  margin-top: 10px;
  list-style: none;
  padding: 0;
  text-align: left;
}

.room-features li {
  margin-bottom: 5px;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
}

