.services-section {
    background-position: center;
    background-color: rgb(35, 158, 160);
    padding-top: 10px;
}

.services-section h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}
  
.services-section Button {
    background-color: rgb(247, 129, 5);
}
  
@media (max-width: 500px) {
    .services-section .carousel-caption {
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      margin-bottom: 10%;
      padding-bottom: 20px;
}
  
.services-section .carousel-caption button {
      margin-top: 10px;
    }
}
  
@media (min-width: 500x) and (max-width: 900px) {
    .services-section img {
      padding-left: 150px;
      padding-right: 150px;
      background-color: rgb(35, 158, 160);
      padding-bottom: 60px;
    }
}

@media (min-width: 900x) and (max-width: 1100px) {
    .services-section img {
      padding-left: 270px;
      padding-right: 270px;
      background-color: rgb(35, 158, 160);
      padding-bottom: 60px;
}
  
.services-section .carousel-caption button {
      margin-top: 20px;
      margin-bottom: 3%;
    }
}
  
@media (min-width: 1100px) {
    .services-section img {
      margin-top: 20px;
      padding-bottom: 80px;
      padding-left: 350px;
      padding-right: 380px;
      background-color: rgb(35, 158, 160);
}
  
.services-section .carousel-caption button {
      margin-top: 20px;
      margin-bottom: 3%;
    }
}

.services-section .carousel-control-prev-icon,
.services-section .carousel-control-next-icon {
  background-color: #60606069;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
  