/* Navbar */

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Outfit', sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: transparent;
  transition: background-color 0.5s ease-out;
}

.navbar-transparent {
  background-color: transparent !important;
  transition: background-color 0.5s ease;
}

.navbar-scrolled {
  background-color: rgb(0, 95, 97) !important;
}

/* Home */

.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.header-content h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 0.04em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
} 

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.header-hero{
  margin: 45px;
  margin-top: 20px;
  font-family: Outfit;
  font-weight: 800;
  font-size: 55px;
  line-height: 105%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  margin-bottom: -10px;
}

.btn-hero-1 {
  margin: 45px;
  margin-top: 20px;
  margin-bottom: 35px;
  width: 128px;
  height: 48px;
  background-color: rgba(252, 89, 1, 100);
  border-radius: 36px;
  border: 2px solid rgba(252, 89, 1, 100);
}

.btn-hero-1:hover {
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.btn-hero-2 {
  margin: -35px;
  margin-top: 20px;
  margin-bottom: 35px;
  width: 128px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 36px;
  border: 2px solid rgb(0, 0, 0);
}

.btn-hero-2:hover {
  background-color: rgba(255, 255, 255, 0.253);
  border: 2px solid rgb(0, 0, 0);
}

.btn-custom-1 {
  width: 150px;
  height: 53px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 36px;
  border: 4px solid rgba(35, 158, 160, 1);
  color: rgb(26, 117, 118);
}

.btn-custom-1:hover {
  background-color: rgba(35, 158, 160, 1);
  border: 4px solid rgb(26, 117, 118);
}

.btn-custom-2 {
  width: 150px;
  height: 53px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 36px;
  border: 4px solid rgb(227, 157, 51);
}

.btn-custom-2:hover {
  background-color: rgba(250, 171, 53, 1);
  border: 4px solid rgb(210, 119, 40);
}

/* Reviews Section */

.reviews-section {
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding: 40px;
}

.reviews-section h2 {
  font-family: Outfit;
  font-weight: 700;
}

.card-slider .carousel-inner {
  margin: auto;
}

.review-card {
  text-align: center;
  background-color: rgba(8,114,116,0.69);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.18);
  margin-bottom: 65px;
}

.profile-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
  margin-bottom: 10px;
}

.stars {
  color: #ffd700; /* Set the color of the stars */
  font-size: 20px;
  margin-bottom: 10px;
}

.card-slider .carousel-control-prev-icon,
.card-slider .carousel-control-next-icon {
  background-color: #00000000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.card-slider .carousel-control-prev,
.card-slider .carousel-control-next {
  width: 5%;
}

.card-slider .carousel-control-prev {
  margin-left: -40px;
}

.card-slider .carousel-control-next {
  margin-right: -40px;
}

/* index.css */
.cat-hotel-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.cat-hotel-image {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.cat-hotel-image img {
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.cat-hotel-title {
  color: #8B4513;
  font-size: 36px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.additional-content {
  display: flex;
  margin-bottom: 20px;
}

.text-content {
  flex: 7;
  padding-right: 20px;
}

.welcome-text {
  color: #8B4513;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.description-text {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

.additional-image {
  flex: 3;
  display: flex;
  justify-content: flex-end;
}

.additional-image img {
  width: 100%;
  height: auto;
}

.price-list {
  background-color: #F4E8DB;
  padding: 20px;
  margin-bottom: 20px;
}

.price-list-title {
  color: #8B4513;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.price-list-table {
  width: 100%;
  border-collapse: collapse;
}

.price-list-table th,
.price-list-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #8B4513;
  transition: background-color 0.3s ease;
}

.price-list-table th {
  color: #fff;
  font-weight: bold;
  background-color: #8B4513;
}

.price-list-table td {
  color: #333;
}

.price-list-table tr:hover {
  background-color: #704829;
}


.feature-list {
  margin-bottom: 20px;
}

.feature-list h3 {
  color: #8B4513;
  font-size: 20px;
  margin-bottom: 10px;
}

.feature-list ul {
  list-style-type: disc;
  margin-left: 20px;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
}

.book-now h3 {
  color: #8B4513;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.book-now-button {
  background-color: #8B4513;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.book-now-button:hover {
  background-color: #654321;
}

.contact-info {
  color: #333;
  font-size: 14px;
  margin-top: 10px;
}


/* faizul css caffe menu */


.card-product {
  width: 300px;
  height: 400px;
  margin: 10px;
  background-size: 100% !important;
  background-color: black;
  background-size: cover;
  cursor: pointer;
  box-shadow: 0 0 5px #000;
}
.card-product--menu-barry-shake {
  background: url("assets/img/product/strawberry-sake.jpg");
}
.card-product--menu-caramel-shake {
  background: url("assets/img/product/caramel-shake.jpg");
}
.card-product--menu-oreo-shake {
  background: url("assets/img/product/oreo-shake.jpg");
}
.card-product--menu-macha-shake {
  background: url("assets/img/product/matcha-shake.jpg");
}
.card-product--menu-kwetiaw {
  background: url("assets/img/product/kwetiaw.jpg");
}
.card-product--menu-omlet {
  background: url("assets/img/product/omlet.jpg");
}
.card-product--menu-cheese-cake {
  background: url("assets/img/product/cheese-cake.jpg");
}
.card-product--menu-manggo-puding {
  background: url("assets/img/product/manggo-puding.jpg");
}

.overlay {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  background: rgba(77, 77, 77, 0.9);
  color: #FEF5DF;
  opacity: 0;
  transition: all 0.5s;
  font-family: "Playfair Display", serif;
}

.items {
  padding-left: 20px;
  letter-spacing: 3px;
}

.head {
  font-size: 30px;
  line-height: 40px;
  transform: translateY(40px);
  transition: all 0.7s;
}
.head hr {
  display: block;
  width: 0;
  border: none;
  border-bottom: solid 2px #FEF5DF;
  position: absolute;
  bottom: 0;
  left: 20px;
  transition: all 0.5s;
}

.price {
  font-size: 22px;
  line-height: 10px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;
}
.price .old {
  text-decoration: line-through;
  color: #b3b3b3;
}

.cart {
  font-size: 12px;
  opacity: 0;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  transform: translateY(40px);
  transition: all 0.7s;
}
.cart i {
  font-size: 16px;
}
.cart span {
  margin-left: 10px;
}

.card-product:hover .overlay {
  opacity: 1;
}
.card-product:hover .overlay .head {
  transform: translateY(0px);
}
.card-product:hover .overlay hr {
  width: 75px;
  transition-delay: 0.4s;
}
.card-product:hover .overlay .price {
  transform: translateY(0px);
  transition-delay: 0.3s;
  opacity: 1;
}
.card-product:hover .overlay .cart {
  transform: translateY(0px);
  transition-delay: 0.6s;
  opacity: 1;
}/*# sourceMappingURL=style.css.map */