/* Navbar */

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Outfit', sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: transparent;
  transition: background-color 0.5s ease-out;
}

.navbar-transparent {
  background-color: transparent !important;
  transition: background-color 0.5s ease;
}

.navbar-scrolled {
  background-color: rgb(0, 95, 97) !important;
}

/* Home */

.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.header-content h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 0.04em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
} 

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.header-hero{
  margin: 45px;
  margin-top: 20px;
  font-family: Outfit;
  font-weight: 800;
  font-size: 55px;
  line-height: 105%;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  margin-bottom: -10px;
}

.btn-hero-1 {
  margin: 45px;
  margin-top: 20px;
  margin-bottom: 35px;
  width: 128px;
  height: 48px;
  background-color: rgba(252, 89, 1, 100);
  border-radius: 36px;
  border: 2px solid rgba(252, 89, 1, 100);
}

.btn-hero-1:hover {
  background-color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
}

.btn-hero-2 {
  margin: -35px;
  margin-top: 20px;
  margin-bottom: 35px;
  width: 128px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 36px;
  border: 2px solid rgb(0, 0, 0);
}

.btn-hero-2:hover {
  background-color: rgba(255, 255, 255, 0.253);
  border: 2px solid rgb(0, 0, 0);
}

.btn-custom-1 {
  width: 150px;
  height: 53px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 36px;
  border: 4px solid rgba(35, 158, 160, 1);
  color: rgb(26, 117, 118);
}

.btn-custom-1:hover {
  background-color: rgba(35, 158, 160, 1);
  border: 4px solid rgb(26, 117, 118);
}

.btn-custom-2 {
  width: 150px;
  height: 53px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 36px;
  border: 4px solid rgb(227, 157, 51);
}

.btn-custom-2:hover {
  background-color: rgba(250, 171, 53, 1);
  border: 4px solid rgb(210, 119, 40);
}

/* Reviews Section */

.reviews-section {
  height: 100vh;
  background-position: center;
  background-size: cover;
  padding: 40px;
}

.reviews-section h2 {
  font-family: Outfit;
  font-weight: 700;
}

.card-slider .carousel-inner {
  margin: auto;
}

.review-card {
  text-align: center;
  background-color: rgba(8,114,116,0.69);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.18);
  margin-bottom: 65px;
}

.profile-img img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
  margin-bottom: 10px;
}

.stars {
  color: #ffd700; /* Set the color of the stars */
  font-size: 20px;
  margin-bottom: 10px;
}

.card-slider .carousel-control-prev-icon,
.card-slider .carousel-control-next-icon {
  background-color: #00000000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.card-slider .carousel-control-prev,
.card-slider .carousel-control-next {
  width: 5%;
}

.card-slider .carousel-control-prev {
  margin-left: -40px;
}

.card-slider .carousel-control-next {
  margin-right: -40px;
}
