/* Navbar */

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Outfit', sans-serif;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: transparent;
  transition: background-color 0.5s ease-out;
}

.navbar-transparent {
  background-color: transparent !important;
  transition: background-color 0.5s ease;
}

.navbar-scrolled {
  background-color: rgb(0, 95, 97) !important;
}

/* Home */

.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
} 

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}

.btn-custom-1 {
  width: 150px;
  height: 53px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 36px;
  border: 4px solid rgba(35, 158, 160, 1);
  color: rgb(26, 117, 118);
}

.btn-custom-1:hover {
  background-color: rgba(35, 158, 160, 1);
  border: 4px solid rgb(26, 117, 118);
}

.btn-custom-2 {
  width: 150px;
  height: 53px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 36px;
  border: 4px solid rgb(227, 157, 51);
}

.btn-custom-2:hover {
  background-color: rgba(250, 171, 53, 1);
  border: 4px solid rgb(196, 135, 43);
}

.cat-hotel-container {
  position: relative;
}

.cat-hotel-image {
  position: relative;
  text-align: center;
  overflow: hidden;
  opacity: ;
}

.cat-hotel-image img {
  width: 100%;
  height: auto;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: brown;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

.additional-content {
  display: flex;
  align-items: center; /* Menyamakan tinggi tulisan dan gambar */
}

.text-content {
  flex: 7;
  padding: 20px;
  background-color: #8b4513; /* Coklat tua */
  color: white;
}

.additional-image {
  flex: 3;
  padding: 20px;
  background-color: #d2b48c; /* Coklat agak muda */
  display: flex;
  justify-content: center;
  align-items: center;
}

.additional-image img {
  max-width: 100%;
  max-height: 100%;
}


.welcome-text {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.description-text {
  color: white;
  font-size: 16px;
  line-height: 1.5;
}

.price-list {
  background-color: #d2b48c; /* Coklat agak muda */
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.price-list-title {
  color: #8b4513; /* Coklat tua */
  font-size: 24px;
  font-weight: bold;
}

.price-list-image {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}
