.banner {
  height: 100vh;
  background: #cacaca;
  position: relative;
  box-sizing: border-box;
}

.banner-title h3 {
  padding-top: 90px;
  font-family: 'Montserrat';
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  z-index: 2;
}

.banner-title h1 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 3.5rem;
  text-align: center;
  color: #8493CA;
  z-index: 2;
  font-size: 70px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); 
}

.image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-img {
  height: 150%;
  width: auto;
  filter: drop-shadow(0px 6px 5px rgba(0, 0, 0, 0.4));
  transform: rotate(0.3deg);
}

@media (max-width: 768px) {
  .banner-img {
    height: 500px;
  }

  .banner-title h3 {
    padding-top: 80px;
  }

  .banner-title h1 {
    font-size: 65px;
  }

  .banner {
    height: 70vh;
  }
}

@media (max-width: 600px) {
  .banner-img {
    height: 400px;
  }

  .banner-title h3 {
    padding-top: 70px;
  }

  .banner-title h1 {
    font-size: 55px;
  }

  .banner {
    height: 60vh;
  }
}

@media (max-width: 500px) {
  .banner-img {
    height: 300px;
  }

  .banner-title h3 {
    padding-top: 60px;
  }

  .banner-title h1 {
    font-size: 45px;
  }

  .banner {
    height: 50vh;
  }
}

@media (max-width: 400px) {
  .banner-img {
    height: 230px;
  }

  .banner-title h3 {
    font-size: 1rem;
    padding-top: 45px;
  }

  .banner-title h1 {
    font-size: 35px;
  }
}