.book-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  top: 2934px;
}

.book-title {
  position: relative;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 5px 3px rgba(0, 0, 0, 0.4);
  padding-top: 50px;
  margin-top: 150px;
  margin-bottom: -50px; 
}


.book-cta {
  position: relative;
  color: white;
  padding: 1.2rem 1.5rem;
  text-decoration: none;
  background: rgba(247, 129, 5, 0.8);
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.book-cta:hover {
  opacity: 0.8;
  color: white;
}

@media only screen and (max-width: 600px) {
  .book-title {
    font-size: 45px;
    margin-bottom: -100px;
  }
}
